body{
  background-image: url(https://images.unsplash.com/photo-1508697014387-db70aad34f4d?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8NXx8c3Rvcm1zfGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=600&q=60);
  background-repeat: no-repeat;
  background-size: cover;
}
a{
  color: red;
  
}
p{
  color: aquamarine;
  text-align: center;
  
}
header{
    display: flex;
    flex-direction: column;
    align-items: center;   
  }
#logo{
  position: absolute;
  width:75px;
  height: 75px;
  border-radius: 20%;
  right: 870px;
  top: 0px;
}
h1{
  font-size: 2rem;
  color: aquamarine;
  padding-top: 2%;
  text-align: center;
}
@media only screen and (max-width: 300px){
  h1{
    display: none;
  }
  p{
    font-size: 20px;
  }
}
h2{
  text-align: center;
  color: hsl(124, 100%, 75%)
}

.navbar{
  display: flow;
  
  
   
  
}
.navbar p{
  
  padding: 1px 10px;
  color: aquamarine;
  font-size: 1.1rem;
}

#images{

  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-content: center;
}

#images img{
  
  width: 200px;
  height: 200px;
  
  border-radius: 10%
}
#images img:hover{
  
  cursor: pointer;
}

figcaption{
  color: aquamarine;
  text-align: center;
  font-size: 20px;
}
figcaption:hover{
  cursor:pointer;
}
#blog{
  font-size: 1.5rem;
}
span{
  color: gold;
}
#fish{
  display: center;
  width: 200px;
  height: 200px;
  padding-left: 22%;
  
}

  

/*#contact{
  position: absolute;
  right: 40%;
  text-align: center;
}
  */
    


#contact p{
  color: white;
  font-size: 1.8rem;
  font-weight: bold;
}
#frames{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding-top: 5%;
  padding-bottom: 8%;
  align-content: center;
  
}
footer{
  display: flex;
  flex-flow: column
  
  
  
  
  
}
#frames img{
  width: 250px;
  border-radius: 10%;
}

#fishcap{
  color: black;
  font-weight: bold;
  
}
#email{
  color: blue;
  font-size: 1.9rem;
  text-decoration: underline;
}
#phone{
  color: gold;
  font-size: 1.9rem;
  text-decoration: underline; 
}
